<div class="page-header text-center mt-3">
  <h1>Cabecera</h1>
</div>
<hr>
<div class="container mt-2">
  <div class="row">
    <div class="col-8">
        <lista-productos titulo="Comida" [productos]="arrProductosComida" (productoSeleccionado)="onProductoSeleccionado($event)"></lista-productos>
        <lista-productos titulo="Bebida" [productos]="arrProductosBebida" (productoSeleccionado)="onProductoSeleccionado($event)"></lista-productos>
    </div>
    <div class="col-4">
      <pedido></pedido>
    </div>
  </div>
  
</div>